:root {
    --blue        : 77, 55, 255;
    --green       : 55, 255, 77;
    --red         : 233, 45, 67;
    --orange      : 255, 170, 77;
    --yellow      : 255, 255, 77;
    --black       : 0, 0, 0;
    --white       : 255, 255, 255;
    --black-light : 15, 12, 22;
    --white-dark  : 242, 242, 251;
    --gray-dark   : 70, 70, 80;
    --gray        : 120, 120, 120;
    --gray-light  : 194, 190, 220;
}