:root body[data-theme="auto"] {
    @media (prefers-color-scheme : light) {
        /* Background */
        --bg-main         : rgba(var(--white), 1);
        --bg-second       : rgba(var(--white-dark), 1);

        /* Text Color */
        --color-main      : rgba(var(--black), 1);
        --color-second    : rgba(var(--black-light), 1);
        --color-invisible : rgba(var(--gray), 1);

        /* Border Color */
        --border-color    : rgba(var(--gray-light), 1);
    }
}

:root body[data-theme="light"] {
    /* Background */
    --bg-main         : rgba(var(--white), 1);
    --bg-second       : rgba(var(--white-dark), 1);

    /* Text Color */
    --color-main      : rgba(var(--black), 1);
    --color-second    : rgba(var(--black-light), 1);
    --color-invisible : rgba(var(--gray), 1);

    /* Border Color */
    --border-color    : rgba(var(--gray-light), 1);
}