.container {
    cursor     : pointer;
    outline    : 1px solid transparent;
    transition : var(--fast);
    border     : 1px solid var(--border-color);
    background : var(--bg-second);
    color      : var(--color-main);

    &[disabled] {
        opacity : .4;
    }

    &:focus:not([disabled]), &:hover:not([disabled]) {
        border     : 1px solid var(--primary-color);
        outline    : 1px solid var(--primary-color);
        background : color-mix(in srgb, var(--bg-main) 100%, var(--bg-main) 10%);
    }

    &.small {
        padding       : var(--offset-small);
        border-radius : var(--offset-small);
        font-size     : var(--font-size-s);
    }

    &.medium {
        padding       : var(--offset-medium);
        border-radius : var(--offset-medium);
        font-size     : var(--font-size-m);
    }

    &.large {
        padding       : var(--offset-large);
        border-radius : var(--offset-large);
        font-size     : var(--font-size-l);
    }

    &.primary:not([disabled]) {
        border     : 1px solid var(--primary-color);
        background : var(--primary-color);
        color      : var(--primary-color-inv);

        &:focus, &:hover {
            outline    : 1px solid var(--primary-color);
            background : color-mix(in srgb, var(--primary-color) 100%, var(--bg-main) 10%);
        }
    }

    &.danger:not([disabled]) {
        border     : 1px solid var(--danger-color);
        background : var(--danger-color);
        color      : var(--danger-color-inv);

        &:focus, &:hover {
            outline    : 1px solid var(--danger-color);
            background : color-mix(in srgb, var(--danger-color) 100%, var(--bg-main) 10%);
        }
    }
}